@layer utilities {
  .bg-header-gradient {
    background: radial-gradient(
      ellipse at center ,
      #133559 0%,
      #0C2644 60%
    );
  }
  
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left {
  animation: fadeInLeft 1s ease forwards;
}

.fade-left {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 1s ease;
}

.fade-left.show {
  opacity: 1;
  transform: translateX(0);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-100%/2));
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@layer utilities {
  .mask-fade {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );

    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
  }
}
